*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(55, 66, 87);
}

.main{
  display: flex;
  gap: 24px;
}

.controls{
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

button{
  width: fit-content;
  padding: 4px 24px;
  background-color: rgb(39, 98, 7);
  border-radius: 4px;
  outline: 1px solid rgb(135, 242, 28);
  border: 2px solid rgb(0,0,0,0);
  color: rgb(135, 242, 28);
  font-size: 16px;
}

#clear{
  margin-top: 8px;
}

h1, h2, h3{
  color:rgb(135, 242, 28);
  text-align: center;
}

.scratchpad{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 400px;
}

.pixel{
  background-color: white;
  border: 0.5px solid rgb(235, 235, 235);
}






